* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body {
    background-color: #cec6c6;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
}

h1 {
    text-align: center;
    color: #333;
    font-family: Arial, sans-serif;
}

p {
    font-size: 1.2em;
    text-align: justify;
    margin: 20px auto;
    max-width: 800px;
    line-height: 1.5;
    color: #555;
    font-family: 'Courier New', Courier, monospace;
    background-color: #f9f9f9;
    padding: 15px;
    border-radius: 8px;
}

h3 {
    color: #444;
    font-family: 'Courier New', Courier, monospace;
    max-width: 800px;
    margin: 20px auto;
    padding: 15px;
    background-color: #e0e0e0;
    border-radius: 8px;

    text-align: center;

}

ul {
    max-width: 800px;
    margin: 20px auto;
    list-style-type: disc;
    color: #333;
    font-family: 'Courier New', Courier, monospace;
}

img {
    width: 80%;
    height: auto;
    max-width: 320px;
    min-width: 200px;
    min-height: 200px;
    margin: 0 auto;
    transition: transform 0.3s ease;
}

img:hover {
    transform: scale(1.05);
    border-radius: 16px;
}

.in {
    max-width: 800px;
    margin: 20px auto;
}

.item {
    display: flex;
    flex-direction: row;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    background-color: rgb(173, 173, 173);
    padding: 10px;
    justify-content: space-around;
    align-items: center;
    margin: 20px auto;
}


.rname {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    color: #333;
    margin-left: 0;
    margin-right: 0;
    max-width: 270px;
}

.item .desc {
    font-size: 1.2em;
    line-height: 1.5;
    max-width: 400px;
    margin: 40px auto;
    padding: 48px 24px;
    text-align: justify;
    font-family: 'Courier New', Courier, monospace;
    color: #333;
}

@media (max-width: 768px) {
    .item {
        flex-direction: column;
        text-align: center;
    }

    img {
        width: 100%;
        max-width: 100%;
    }

    .item .desc {
        padding: 20px;
        margin: 20px auto;
    }
}